@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: lato,sans-serif;
}
.Hero{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    
    position: relative;
    transition: 0.5s;
    font-family: lato,sans-serif;
    
}
.video{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    z-index: -1;
    object-fit: cover;
}
.bg-overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}
.display{
    position: absolute;
    top:100;
    margin-left: 60px;
}
.about{
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://media.istockphoto.com/id/1405880267/photo/two-engineers-installing-solar-panels-on-roof.jpg?s=612x612&w=0&k=20&c=OvQDbJaTnMM4jPfIA3y5vrO88i98NZJRahZtnYFZCq0="), 
    linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6));
}

.footer{
    padding: 80px;
}
.Foot{
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    align-items: center;
}
.Stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}
.sizes{
    width: 500px;
   
}
.Contact{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
}
.element {
    background-image: linear-gradient(  rgba(0,0,0,0.7),  rgba(0,0,0,0.7)), url("https://media.istockphoto.com/id/1405880267/photo/two-engineers-installing-solar-panels-on-roof.jpg?s=612x612&w=0&k=20&c=OvQDbJaTnMM4jPfIA3y5vrO88i98NZJRahZtnYFZCq0=");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px;
  }
  
@media screen and (max-width: 600px) {
    .Stats{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: 300px;
        margin: auto;
        margin-top: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .footer{
        border-radius: 10px;
        margin: 10px;
    }
    .Foot{
        display: flex;
        flex-direction: column;
    }
    .space{
        margin-bottom: 10px;
    }
    .About{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   
    }
    .Form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    .size{
        width: 320px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .sizes{
        width: 320px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    form{
        width: 320px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .for{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        
    }
    .push{
        margin-right: 100px;
    }
  }